<div class="row">
  <div class="main_form text-center">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Sign in", class: "btn btn-primary login_btn" %>
    <% end %>

    <h3 class="p-3 mb-2 bg-success text-white">New user? <%= link_to "Sign up now!", signup_path, class:"btn btn-primary"%></h3>
  </div>
</div>