<% provide(:title, 'Sign up') %>

<div class="main_form text-center">
<%= form_for @user do |f| %>
<ul>
  <% @user.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<p>
  <%= f.label :name %> <br/>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :email %> <br/>
  <%= f.email_field :email, :value => "example@email.com" %>
</p>
<p>
  <%= f.label :password %> <br/>
  <%= f.password_field :password %>
</p>
<%= f.submit "create my account", class:"sign_btn btn btn-primary" %>
<% end %>
<h3 class="p-3 mb-2 bg-success text-white"> Wellcome to CLUBHOUSE... </h3>

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <video class="video-fluid" autoplay loop muted>
        <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
      </video>
    </div>
    
</div>

</div>