<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="main_form text-center">
<%= form_for @user do |f| %>
<ul>
  <% @user.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<p>
  <%= f.label :name %> <br/>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :email %> <br/>
  <%= f.email_field :email, :value => "example@email.com" %>
</p>
<p>
  <%= f.label :password %> <br/>
  <%= f.password_field :password %>
</p>
<%= f.submit "create my account", class:"sign_btn btn btn-primary" %>
<% end %>
</div>